version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: user-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"